In [61]:
year = '2023'

srcDirectory = '../2.1 확장자 변환된 엑셀 파일/'
srcFilename = '도장_' + year + '.xlsx'
src = srcDirectory + srcFilename

In [62]:
dstDirectory = '../3.1 필요한 필드만 추출한 엑셀 파일/'
dstFilename = '도장B_' + year + '.xlsx'
dst = dstDirectory + dstFilename

In [63]:
import pandas as pd

In [64]:
df = pd.read_excel(src, 
                  skiprows = [0,1,2,3,4,5,6],
                  usecols = "BM,CG,CI")

In [65]:
"""
아래의 필드만 추출되어야 함
총      착수일자.4      완료일자.2
"""
print(df.head(10))

   총.1      착수일자.5      완료일자.3
0  NaN  2023-01-17  2023-01-19
1  NaN  2023-01-18  2023-01-20
2  NaN  2023-01-17  2023-01-19
3  NaN  2023-01-18  2023-01-20
4  NaN  2023-03-10  2023-03-13
5  NaN  2023-03-10  2023-03-13
6  NaN  2023-03-10  2023-03-13
7  NaN  2023-03-10  2023-03-13
8  NaN  2023-03-22  2023-03-27
9  NaN  2023-03-15  2023-03-20

In [66]:
# 각 열의 이름을 변경하기
df.columns = ["도장-총량",
              "도장-착수일자", "도장-완료일자"]
df = df.fillna(0) # NaN 필드를 0으로 설정

In [67]:
print(df.head(10))

   도장-총량     도장-착수일자     도장-완료일자
0    0.0  2023-01-17  2023-01-19
1    0.0  2023-01-18  2023-01-20
2    0.0  2023-01-17  2023-01-19
3    0.0  2023-01-18  2023-01-20
4    0.0  2023-03-10  2023-03-13
5    0.0  2023-03-10  2023-03-13
6    0.0  2023-03-10  2023-03-13
7    0.0  2023-03-10  2023-03-13
8    0.0  2023-03-22  2023-03-27
9    0.0  2023-03-15  2023-03-20

In [68]:
# 엑셀 파일로 다시 저장하기
df.to_excel(dst)