In [57]:
year = '2023'

srcDirectory = '../2.1 확장자 변환된 엑셀 파일/'
srcFilename = '조립_' + year + '.xlsx'
src = srcDirectory + srcFilename

In [58]:
dstDirectory = '../3.1 필요한 필드만 추출한 엑셀 파일/'
dstFilename = '조립_' + year + '.xlsx'
dst = dstDirectory + dstFilename

In [59]:
import pandas as pd

In [60]:
df = pd.read_excel(src, 
                  skiprows = [0,1,2,3,4,5,6],
                  usecols = "Q,T,V,AO,AP")

In [61]:
"""
아래의 필드만 추출되어야 함
설비 용접장(m)  용착량\n(㎏)      착수일자.3      완료일자.3
"""
print(df.head(10))

     설비 용접장(m)  용착량\n(㎏)      착수일자.3      완료일자.3
0   2.0     51       NaN  2022-12-22  2023-01-11
1   2.0     51       NaN  2022-12-22  2023-01-11
2   9.0    194       NaN  2022-12-22  2023-01-03
3   9.0    249       NaN  2022-12-22  2023-01-03
4   NaN    NaN       NaN  2023-03-07  2023-03-09
5   NaN    NaN       NaN  2023-03-07  2023-03-09
6   NaN    NaN       NaN  2023-03-02  2023-03-02
7   NaN    NaN       NaN  2023-03-02  2023-03-02
8  33.0    679       NaN  2023-02-16  2023-02-27
9  30.0    485       NaN  2023-02-16  2023-02-28

In [62]:
# 각 열의 이름을 변경하기
df.columns = ["중량-총량","용접장-총량","용착량-총량",
              "중량/용접장/용착량-착수일자","중량/용접장/용착량-완료일자"]
df = df.fillna(0) # NaN 필드를 0으로 설정

In [63]:
print(df.head(10))

   중량-총량 용접장-총량  용착량-총량 중량/용접장/용착량-착수일자 중량/용접장/용착량-완료일자
0    2.0     51     0.0      2022-12-22      2023-01-11
1    2.0     51     0.0      2022-12-22      2023-01-11
2    9.0    194     0.0      2022-12-22      2023-01-03
3    9.0    249     0.0      2022-12-22      2023-01-03
4    0.0      0     0.0      2023-03-07      2023-03-09
5    0.0      0     0.0      2023-03-07      2023-03-09
6    0.0      0     0.0      2023-03-02      2023-03-02
7    0.0      0     0.0      2023-03-02      2023-03-02
8   33.0    679     0.0      2023-02-16      2023-02-27
9   30.0    485     0.0      2023-02-16      2023-02-28

In [64]:
df.to_excel(dst)